<form method="post" action="{{ path('app_c_p_images_delete', {'id': c_p_image.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c_p_image.id) }}">
    <button class="btn">Delete</button>
</form>
