<form method="post" action="{{ path('halloween_check_delete', {'id': halloween_check.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ halloween_check.id) }}">
    <button class="btn">Delete</button>
</form>
