{% extends 'base.html.twig' %}

{% block title %}Edit HalloweenCheck{% endblock %}

{% block body %}
    <h1>Edit HalloweenCheck</h1>

    {{ include('halloween_check/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('halloween_check_index') }}">back to list</a>

    {{ include('halloween_check/_delete_form.html.twig') }}
{% endblock %}
