{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}

    <div class="row justify-content-center align-self-center predict">
    <div class="col-12 col-md-10 ">
{#        <img class="img-fluid" src="{{asset('build/cse_champions_league_2020.jpg') }}" alt="Organisation CSE">#}
    </div>
</div>
{% endblock %}
