{% extends 'base.html.twig' %}

{% block title %}Edit Matches{% endblock %}

{% block body %}
    <h1>Edit Matches</h1>

    {{ include('matches/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('matches_index') }}">back to list</a>

    {{ include('matches/_delete_form.html.twig') }}
{% endblock %}
