{% extends 'base.html.twig' %}

{% block title %}New Matches{% endblock %}

{% block body %}
    <h1>Create new Matches</h1>

    {{ include('matches/_form.html.twig') }}

    <a href="{{ path('matches_index') }}">back to list</a>
{% endblock %}
