{% extends 'base.html.twig' %}

{% block title %}Reglement{% endblock %}

{% block body %}

    <div class="jumbotron">
        <H2>REGLEMENT DU JEU CONCOURS - Champions League 2020</H2>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 1 : Présentation</h5>
                <div class="card-body">
                    <h5 class="card-title">Le CSE de Sitel Troyes - Organise du 12 Août 2020 au 23 Août 2020 inclus</h5>
                    <h5 class="card-text">Un Jeu Concours interne gratuit réservé uniquement aux salariés de Sitel Troyes. </h5>
                    <p class="card-text">Ce Jeu Concours gratuit consiste à pronostiquer les différents matchs de la phase finale de la Champions League 2020 à savoir :</p>
                    <ul>
                        <li>Les 4 matchs des quarts de finale</li>
                        <li>Les 2 matchs de la demi-finale</li>
                        <li>Le match de la finale</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 2: Conditions de participation</h5>
                <div class="card-body">
                    <h5 class="card-title">Le Jeu Concours est ouvert uniquement aux Salariés de Sitel Troyes.</h5>
                    <h5 class="card-text">Pour participer au Jeu Concours, les participants doivent être en poste à la date du 12 Août 2020, date de démarrage de l’opération et pendant toute la durée de l’opération. </h5>
                    <h5 class="card-text">Les pronostics devront être uniquement validés depuis le site Internet mis en place pour cette occasion à l’adresse suivante : http://51.210.8.230/ </h5>
                    <p class="card-text">Les salariés devront utiliser leur matricule afin de se connecter au site afin de valider leurs pronostics.</p>
                    <p class="card-text">Le CSE de Sitel Troyes se réserve le droit de procéder à toute vérification utile pour le respect du présent article comme de l’ensemble du règlement</p>

                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 3 : Modalités d’organisation</h5>
                <div class="card-body">
                    <h5 class="card-title">Un seul pronostic par personne (identifiant RH) et par match sera pris en compte.</h5>
                    <p class="card-text">1- Le participant pronostic le vainqueur du match (temps de jeu + prolongation + tirs au but)</p>
                    <p class="card-text">2-	Le participant pronostic le résultat du match à l’issu du temps de jeu réglementaire (temps de jeu + prolongation) soit au terme des 120 minutes de temps de match maximum.</p>
                    <p class="card-text"></p>
                    <h5 class="card-text">Sont gagnants les 5 salariés qui :</h5>
                    <p class="card-text">Auront reçus le plus de points pour le match pronostiqué</p>
                    <p class="card-text">Attribution des points :</p>
                    <ul>
                        <li>Si le vainqueur du match n’est pas trouvé = AUCUN points ne sera gagné</li>
                        <li>Si le vainqueur du match est trouvé = 2 points</li>
                        <li>
                            <ul>
                                <li>Pour chaque résultat (nombre but(s)) trouvé = 2 points</li>
                                <li>Si le participant trouve les 2 score il reçoit un bonus de 3 points</li>
                            </ul>
                        </li>
                    </ul>
                    <h5 class="card-text">En cas d’égalité de points un tirage au sort sera réalisé afin de départager les participants</h5>
                    <br>
                    <h5 class="card-text">Sont les super gagnants les 5 salariés qui :</h5>
                    <ul>
                        <li>Auront reçus le plus de points pour l’ensemble matchs pronostiqués</li>
                        <li>En cas d’égalité de points un tirage au sort sera réalisé afin de départager les participants.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 4 : Dotations</h5>
                <div class="card-body">
                    <h5 class="card-title">Le comptage des points est réalisé de façons informatisé et automatique à l’issu de chaque match, un tirage au sort pourrait-être effectué par les membres du CSE en fin de jeu pour désigner les gagnants de lots suivants :</h5>
                    <br>
                    <h5 class="card-text">La liste des lots sera affichée et disponible au bureau du CSE</h5>
                    <br>
                    <h5 class="card-text">Les Lots seront attribués dans l'ordre des points et du Tirage au Sort</h5>
                    <br>
                    <p class="card-text">Les lots, quelle que soit leur nature, ne sont pas cessibles.</p>
                    <p class="card-text">Ils ne peuvent donner lieu à aucune contestation d’aucune sorte, à aucun échange ou contre valeur financière, et ce pour quelque raison que ce soit.</p>
                    <p class="card-text">Le CSE de Sitel Troyes se réserve le droit de les remplacer par des lots de nature et de valeur équivalente, si des circonstances indépendantes de sa volonté l’y contraignait, sans engager sa responsabilité de ce fait.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 5 : Désignation des gagnants</h5>
                <div class="card-body">
                    <h5 class="card-title">Les gagnants seront avisés individuellement par l’un des membres du CSE de Sitel Troyes. </h5>
                    <h5 class="card-text">Les lots seront au bureau du CSE Sitel Troyes afin qu’il organise une remise en main propre.</h5>
                    <p class="card-text">La liste des gagnants sera disponible au bureau du CSE Sitel Troyes.</p>
                    <p class="card-text">Les gagnants autorisent sauf avis contraire exprès toute exploitation promotionnelle interne qui pourrait être faite par le CSE de Sitel Troyes de leur nom et de leur image, sans prétendre à d’autres droits ou rémunération que le lot leur revenant.</p>
                    <p class="card-text">Cette autorisation est valable pour tout support connu ou inconnu à ce jour, pour tout moyen (journaux, Intranet, etc) et pour une durée d’un an à compter de la date de fin de l’opération.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 6 : Acceptation - Responsabilité</h5>
                <div class="card-body">
                    <h5 class="card-title">La participation à ce Jeu Concours implique l’acceptation pleine et entière des participants aux clauses du présent règlement. </h5>
                    <h5 class="card-text">Le CSE de Sitel Troyes se réserve le droit, pour le bon déroulement de l’opération, de modifier, compléter, différer, annuler, interrompre ou prolonger la présente opération sans que sa responsabilité soit engagée.</h5>
                    <p class="card-text">En aucun cas, la responsabilité du CSE de Sitel Troyes ne pourra être recherchée si un quelconque dommage matériel et/ou physique survenait à un participant ou à un tiers du fait de l'un des lots.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 7 : Contestation – Litiges</h5>
                <div class="card-body">
                    <h5 class="card-title">Toute contestation ou réclamation devra être formulée par lettre simple adressée au CSE de Sitel Troyes, 1 rue Fernand GIROU, 1000 Troyes par écrit dans un délai d’un mois à compter de la proclamation des résultats.</h5>
                    <p class="card-text">Cette lettre devra indiquer la date précise de participation au Jeu, les coordonnées complètes du Joueur et le motif exact de la contestation.</p>
                    <p class="card-text">Aucun autre mode de contestation ou de réclamation ne pourra être pris en compte.</p>
                    <p class="card-text">Toute contestation ou réclamation à ce Jeu Concours ne sera prise en compte que si elle est adressée avant la fin du Jeu, le cachet de la poste faisant foi.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 8 : Acceptation du Règlement  </h5>
                <div class="card-body">
                    <h5 class="card-title">Le simple fait de participer entraîne :</h5>
                    <p class="card-text">L'acceptation entière et sans réserve du présent règlement </p>
                    <p class="card-text">L'arbitrage en dernier ressort de la Société Organisatrice pour toutes les contestations relatives à l'interprétation et ou à l'application du présent règlement</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 9 : Exploitation de l'image des gagnants </h5>
                <div class="card-body">
                    <p class="card-text">Les participants autorisent l'Organisateur du Jeu : Le CSE de Sitel Troyes à diffuser les noms, prénoms, communes de résidence et photographies des gagnants à des fins publicitaires, promotionnelles ou purement informatiques en ayant au préalable obtenu l'accord des gagnants sur les dispositions du présent article et ceci conformément à la Législation en vigueur, sans que cette autorisation puisse ouvrir droit à la remise des lots gagnés.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 10 : Protection des données à caractères personnel</h5>
                <div class="card-body">
                    <h5 class="card-title">Les participants à ce Jeu Concours sont informés que le site Internet ne détient aucunes données personnelles et/ou nominative des participants.</h5>
                    <h5 class="card-text">Les gagnants du Jeu Concours autorisent le CSE de Sitel Troyes à publier leurs noms sur Intranet et sur les supports de communication du CSE. </h5>
                    <p class="card-text">Les participants pourront demander à ne pas figurer ou être retirés du fichier à tout moment, ils bénéficieront d’un droit d’accès de rectification et de radiation des données les concernant sur simple demande à l’adresse du jeu conformément à la Loi Informatique et Liberté du 06 Janvier 1978, modifié par la Loi n°2004-801 du 6 Août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel et modifiant la Loi n° 78-17 du 6  Janvier 1978 relative à l'informatique aux fichiers et aux libertés et au décret n°2005-1309 du 20 Octobre 2005.</p>
                    <p class="card-text">Par conséquent, en application de la Loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez des droits d'opposition (art.26 de la Loi), d'accès (art.34 à 38 de la Loi) et de rectification (art.36 de la Loi) des données vous concernant. </p>
                    <p class="card-text">Ainsi, vous pouvez exiger que soient rectifiées, complétées, mises à jour ou effacées les informations vous concernant qui sont inexactes, incomplètes, équivalentes, équivoques ou périmées. Les coordonnées des participants seront traitées conformément aux dispositions de la Loi Informatique et Libertés du 6 Janvier 1978.
                    </p>
                    <p class="card-text">Chaque participant dispose d'un droit d'accès, de rectification ou même de radiation des informations le concernant qu'il peut exercer sur simple demande écrite sur papier libre à la Société Organisatrice seule destinataire de ces informations.</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 11 : Modalités de modification du jeu    </h5>
                <div class="card-body">
                    <h5 class="card-title">L'Organisateur du Jeu Concours se réserve le droit de modifier, prolonger, suspendre ou annuler le Jeu sans préavis, notamment en cas de force majeur.</h5>
                    <p class="card-text">Sa responsabilité ne pourra alors en aucun cas être engagée et aucun dédommagement ne pourra être demandé par les participants.</p>
                    <h5 class="card-text">La date et l'heure du tirage au sort pourront notamment être décalées</h5>
                    <p class="card-text">Des additions en cas de force majeur, des modifications de ce règlement peuvent éventuellement être publiées. Elles seront considérées comme des annexes au présent règlement</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Article 12 : Limite de responsabilité </h5>
                <div class="card-body">
                    <h5 class="card-title">L'Organisateur du Jeu ne saurait être tenu pour responsable de tous faits qui ne lui seraient pas imputables, notamment un éventuel retard dans la livraison des lots, ou en cas de force majeur susceptible de perturber, modifier ou annuler le Jeu Concours.</h5>
                </div>
            </div>
        </div>


        </div>
    </div>


{% endblock %}