{% extends 'base_bbq.twig' %}

{% block title %}New BbqEvent{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1>Je m'incris au BBQ du 19 Septembre</h1>
    <h4>Attention, une participation de 5€ vous sera demandée. Celle-ci sera à régler auprès du CE</h4>
</div>
    <div class="col-12 col-md-12 col-lg-5 mx-auto">
        <div class="row bg-white rounded justify-content-center align-self-center text-center ">
            <div>
                <div class="row center">
                    <div class="justify-content-center align-self-center text-center ">
                        <form class="">

                            {{ include('bbq_event/_form.html.twig') }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <a class="btn btn-danger" href="{{ path('bbq') }}">Revenir à l'accueil</a>
{% endblock %}
