{% extends 'base.html.twig' %}

{% block title %}Edit Participations{% endblock %}

{% block body %}
    <h1>Edit Participations</h1>

    {{ include('participations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('participations_index') }}">back to list</a>

    {{ include('participations/_delete_form.html.twig') }}
{% endblock %}
