{% extends 'base.html.twig' %}

{% block title %}Summer game{% endblock %}

{% block body %}
    <div class="row justify-content-center align-self-center  ">
        <div class="col-md-12 col-lg-8 summer-bg">
            <div class="row text-left">
                <div class="col-12">
                    <h1 class=" title_alert text-center Summer_002">Quiz de l' été 2021</h1>
                </div>
                <div class="col-12 text-center Summer_002 summer-text ">
                    <div class="col-12">
                        <H2>Votre CSE organise un grand quiz pour tous les salariés de Sitel Troyes?</H2>
                        <h3>Avant de commencer nous vous invitons à prendre connaisance des consignes de jeu.</h3>
                    </div>
                   <div class="col-12">
                       <br>
                       <h3>Afin de limiter les fraudes, nous avons mis en place des règles stricts pour que vous ne puissiez participer qu'une seule et unique fois !</h3>
                       <br>
                       <h3>ATTENTION, ne pas respecter les règles suivantes aura pour concéquence d'invalider votre participation !</h3>
                   </div>
                </div>
                <div class="col-12 summer-text">
                    <ul>
                        <li>Il est interdit de rafraichir la page</li>
                        <li>Il est interdit de revenir à la page précédente</li>
                        <li>Il est interdit de recommencer le quizz</li>
                        <li>Il est interdit de fermer la page pour reprendre le quiz</li>
                    </ul>
                </div>
                <div class="col-12 text-center Summer_002">
                    <h2 class="alert-danger text-center">Avant de commencer, assurez-vous d'avoir le temps nécessaire aucun retour ne sera possible ... et pas de seconde chance!</h2>
                    <h2 class="alert-danger text-center">Vous n'aurez que 5 minutes pour répondre au questionnaire!</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center Summer_002">
            <a href="{{ path('summer_game_play') }}" class="btn btn-lg btn-danger">J'ai compris les conditions ... je me lance</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-center Summer_002">
            <h1>Ouverture du quiz le {{ poll.openAt | format_datetime(locale='fr') }}</h1>
        </div>
    </div>
{% endblock %}