{% extends 'base_ancv.twig' %}

{% block title %}New Ancv{% endblock %}

{% block body %}
    <h1>Create new Ancv</h1>

    {{ include('ancv/_form.html.twig') }}

    <a href="{{ path('ancv_index') }}">back to list</a>
{% endblock %}
