/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }



    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }


}

@media (max-width: 768px) {
    .navbar {
        background: #fff;
    }

    .score
    {
        align-content: center;
        height: 50%;
        width: 50%;
        font-size: 1em;
        /*text-align: center;*/
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }


}


/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
    font-size: 0.9rem !important;
}


body {
    margin-top: 70px;
    /*min-height: 110vh;*/
    background-color: #F2F2F2;
    /*color: white;*/
    /*background-image: url("../images/ucl-bg-header.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.body_champion {
    margin-top: 70px;
    /*min-height: 110vh;*/
    background-color: #4ca1af;
    /*color: white;*/
    background-image: url("../images/ucl-bg-header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.predict{
    padding-top: 50px;
}

.score
{
    align-content: center;
    height: 100%;
    width: 100%;
    font-size: 3.5em;
    text-align: center;
}

.titre{
    background-color: white;
}

.login-container{
    margin-top: 5%;

}
.login-form-1{
    padding: 5%;
    margin-bottom: 5%;
    background-color: white;
    /*background-image: url("../images/finale-2020-light.png");*/
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40%;
    border-radius: 1rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
/*
.login-container form{
    padding: 10%;
}
*/
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

a{
    text-decoration: none;
}


.score-img {
    max-width: 150px;
    height: auto;
}

.body_bbq{
    background-color: #4ca1af;
    /*color: white;*/
    background-image: url("../images/482.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.img-bbq{
    background-color: #4ca1af;
    /*color: white;*/
    background-image: url("../images/BBQ@2x.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: auto;
}

.body_ancv{
    background-color: #4ca1af;
    /*color: white;*/
    /*background-image: url("../images/482.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.body_noel {
    background-color: white;
    background-image: url("../images/banniere_noel.jpg");
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*font-family: "GROBOLD";*/
}

table{
    background-color: white;

}

.header_halloween {
    /*background-image: url("../images/halloween_head.png");*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
    background-position: center;
    /*background-size: cover;*/
}

.footer_halloween {

}

.body_halloween {
    background: rgb(2,0,36);
    background: linear-gradient(87deg, rgba(2,0,36,1) 0%, rgba(204,155,16,1) 31%, rgba(204,155,16,1) 57%, rgba(2,0,36,1) 100%);
}
@font-face {
    font-family: "Scary";
    src: url('../images/Scary Halloween Font.ttf');
}

@font-face {
    font-family: "halloweek";
    src: url('../images/halloweek.ttf');
}




.scary{
    font-family: "Scary";
}

.halloweek{
    font-family: "halloweek";
}