{% extends 'base.html.twig' %}

{% block title %}New Commande21{% endblock %}

{% block body %}
    <h1>Create new Commande21</h1>

    {{ include('commande21/_form.html.twig') }}

    <a href="{{ path('commande21_index') }}">back to list</a>
{% endblock %}
