{% extends 'base.html.twig' %}

{% block title %}Edit Ancv2022{% endblock %}

{% block body %}
    <h1>Edit Ancv2022</h1>

    {{ include('ancv2022/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ancv2022_index') }}">back to list</a>

    {{ include('ancv2022/_delete_form.html.twig') }}
{% endblock %}
