{% extends 'base.html.twig' %}

{% block title %}New Predictions{% endblock %}

{% block body %}

    <div class="jumbotron">
        Matchs du jour
    </div>


{{ dump() }}
    {{ include('predictions/_form.html.twig') }}

    <a href="{{ path('predictions_index') }}">back to list</a>
{% endblock %}
