{% extends 'base.html.twig' %}

{% block title %}New Predictions{% endblock %}

{% block body %}
    <h1>Create new Predictions</h1>
{{ dump() }}
    {{ include('predictions/_form.html.twig') }}

    <a href="{{ path('predictions_index') }}">back to list</a>
{% endblock %}
