{% extends 'base.html.twig' %}

{% block title %}New Predictions{% endblock %}

{% block body %}

<div class="row justify-content-center align-self-center text-center">
    <div class="col-12 col-md-12 col-lg-10 col-xl-10 justify-content-center align-self-center text-center">
                {{ include('predictions/_formPlay.html.twig') }}
    </div>
</div>

<div class="row predict">
    <div class="col-12 col-md-12 col-lg-10 col-xl-8">
        <a class="btn-lg btn-danger" href="{{ path('matches_index') }}">Retour à la liste des match(s)</a>
    </div>
</div>
{% endblock %}
