{% extends 'base.html.twig' %}

{% block title %}Edit reset Password{% endblock %}

{% block body %}
    <h1>reset Password Users</h1>

    {{ include('users/_form.html.twig', {'button_label': 'Update',  'attr': { 'class': 'btn btn-primary' } } ) }}

    <a class="btn btn-success " href="{{ path('users_index') }}">back to list</a>

{% endblock %}
