{% extends 'base_halloween.html.twig' %}

{% block title %}Halloween index{% endblock %}

{% block body %}
    <div class="row justify-content-center align-self-center text-center">
        <img src="{{ asset('build/halloween_head.png') }}" class="img-fluid" alt="">

        <div class="col-md-12 col-lg-8 text-center">
            <img src="{{ asset('build/text-quizz.png') }}" class="img-fluid mx-auto d-block" alt="">

        </div>
    </div>
    <br>
    <div class="row justify-content-center align-self-center ">
        <div class="col-md-12 col-lg-8">
            <div class="row bg-white text-left">
                <div class="col-12">
                    <h2 class="alert-danger text-center halloweek">ATTENTION !!!</h2>
                </div>
                <div class="col-12 text-center halloweek">
                    <h3>Consignes avant de débuter la quiz d' Halloween</h3>
                    <h4>Afin d'éviter les triches, de nombreuses méthodes de vérification ont été mises en place.</h4>
                    <h4>En cas de fraude, votre participation sera automatiquement et définitivement annulée !</h4>
                </div>
                <div class="col-12">
                    <ul>
                        <li>Il est interdit de rafraichir la page</li>
                        <li>Il est interdit de revenir à la page précédente</li>
                        <li>Il est interdit de recommencer le quizz</li>
                        <li>Il est interdit de fermer la page pour reprendre le quizz</li>
                    </ul>
                </div>
                <div class="col-12 text-center halloweek">
                    <h2 class="alert-danger text-center">Avant de commencer, assurez-vous d'avoir le temps nécessaire aucun retour ne sera possible ...</h2>
                    <h2 class="alert-danger text-center">Vous n'aurez que 5 minutes pour répondre au questionnaire!</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
    {%  if halloweenCheck == 0 %}
    <div class="row">
        <div class="col-12 text-center halloweek">
            <a href="{{ path('halloween_new') }}" class="btn btn-lg btn-danger">J'ai compris les conditions ... je me lance</a>
        </div>
    </div>
    {% endif %}



{% endblock %}
