{% extends 'base_halloween.html.twig' %}

{% block title %}New Halloween{% endblock %}

{% block body %}
    <div class="row row body_halloween justify-content-center align-self-center text-center ">
        <div class="col-12">
            <img src="{{ asset('build/halloween_head.png') }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-12 col-lg-6">
            {{ include('halloween/_form.html.twig') }}
        </div>

    </div>
{% endblock %}
