{% extends 'base.html.twig' %}

{% block title %}Hello ClassementController!{% endblock %}

{% block body %}


<div class="example-wrapper">
   {{ dump(classement) }}


    {% for match in classement %}
        {{ match.home }}
    {% endfor %}

</div>
{% endblock %}
